__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.sqlite3
*.db
media
staticfiles
.pytest_cache
.coverage
.cache
.DS_Store
.git
.github
node_modules
npm-debug.log
coverage.xml
pip-wheel-metadata
*.egg-info
